.container {
    display: flex;
    height: 100%;
    .content {
        flex: 1;
        .example-container {
            height: 100%;
            .example-sidenav {
                max-width: 400px;
            }
        }
    }
}